<div class="modal fade" id="confirmation" data-bs-backdrop="static" data-bs-keyboard="true" tabindex="-1" aria-labelledby="confirmationLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmationLabel">Confirmation</h5>
            </div>
            <div class="modal-body">
                <p id="confirmationText">Do you wish to continue?</p>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" id="confirmationCancel">Cancel</button>
                <button type="button" class="btn btn-success" data-bs-dismiss="modal" id="confirmationYes">Yes</button>
            </div>
        </div>
    </div>
</div>