<div class="modal fade" id="loading" data-bs-backdrop="static" data-bs-keyboard="true" tabindex="-1" aria-labelledby="aeCinemaLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <button class="btn btn-dark position-fixed top-50 end-50" data-bs-ba type="button" disabled>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Loading...
        </button>
    </div>
</div>